body{
	background: @base;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	margin: 0px;
}

a{
	color: inherit;
}

a:visited{
	color: inherit;
}

#wrapper{
	max-width: @pagewidth;
	min-width: @pagewidth / 4;
	overflow: hidden;
}

#side{
	float: left;
	width: @sidebarwidth - 1;
	border-right: 1px solid lighten(#000000, 10%);
}

#side a{
	border: 0px;
	text-decoration: none;
}

#side h2 {
	margin: 0px;
	padding: 0px 0px 4px 0px;
	text-align: center;
	color: @main_accent;
	display: block;
	font-size: 1.5em;
}

#side h2:hover{
	color: lighten(#000000, 100%);
	background: @main_accent;
}

.sideusername {
	text-align: center;
	font-size: 11px;
	padding: 0px 0px 10px 0px;
	margin: 0px;
}

#side ul{
	margin: 0px;
	padding: 0px;
}

#side li{
	list-style-type: none;
	padding: 4px 6px 4px 10px;
	margin: 4px 0px 0px 0px;
	text-align: right;
	line-height: 14px;
}

#side li:hover{
	background: lighten(#000000, 90%);	
}

#side a{
	text-decoration: none;
	color: lighten(#000000, 0%);
}

#side .menunumber {
	background: @main_accent;
	padding: 3px 6px 3px 6px;
	font-size: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-right: 10px;
	color: white;
}

#side .menucurrent{
	background: lighten(#000000, 90%);	
}

#main{
	float: left;
	width: (@pagewidth - @sidebarwidth);
}

#main h1{
	width: (@pagewidth - @sidebarwidth);
	margin: 0px;
	padding: 0px 0px 0px 10px;
	font-size: 18px;
	font-weight: bold;
	background: lighten(#000000, 70%);
	color: 	lighten(#000000, 100%);
}

#main .nav{
	width: (@pagewidth - @sidebarwidth);
	margin: 0px;
	padding: 10px 0px 0px 10px;
	background: lighten(#000000, 85%);
}

#main .nav li{
	list-style-type: none;
	display: inline;
	padding: 2px 8px 0px 8px;
}

#main .nav .current{
	background: lighten(#000000, 100%);
}

#main .nav a{
	text-decoration: none;
	color: lighten(#000000, 0%);
}

.pagecontent{
	margin: 10px;
}

h3{
	margin: 0px 0px 5px 0px;
	padding: 0px;
	border-bottom: 1px solid @main_accent;
	max-width: @pagewidth / 3;
}

h4{
	margin: 0px;
	padding: 0px;
}

p{
	margin: 5px 0px 10px 0px;
}

form{
	background: lighten(#000000, 90%);
	padding: 10px;
}

label{
	display: block;
	float: left;
	width: 150px;
	text-align: right;
	line-height: 28px;
	padding: 0px 5px 0px 0px;
}

input[type=text], input[type=password]{
	width: 200px;
	height: 22px;
	border: 1px solid lighten(#000000, 70%);
}

textarea{
	width: 250px;
	height: 80px;
}

input[type=submit], input[type=button]{
	background: @main_accent;
	padding: 5px;
	margin: 0px 0px 0px 154px;
	color: lighten(#000000, 100%);
	font-weight: bold;
	border: 0px;
}

input[type=submit]:active, input[type=button]:active{
	background: lighten(@main_accent, 10%);
}

.jobcontainer{
	margin: 0px;
	padding: 5px 0px 0px 0px;
}

.jobcontainer a{
	text-decoration: none;
}

.summary{
	border-bottom: 1px solid lighten(#000000, 80%);
	padding: 0px 0px 0px 10px;
}

.summary:hover{
	background: lighten(#000000, 96%);
}

.summary p{
	color: lighten(#000000, 0%);
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 0px 0px;
}

.summary .meta{
	font-size: 10px;
	color: lighten(#000000, 40%);
}

.summary .meta span{
	font-size: 17px;
	font-weight: bold;
}

.clearer{
	clear: both;
}