body{
	font-family: Verdana, sans-serif;
	font-size: 13px;
}

#container{

}

/*.navbar{
	height: 30px;
	margin-bottom: 10px;
}

.navbar a{
	background-color: #3385FF;
	padding: 6px;
	border-radius: 8px;
	color: #ffffff;
	text-decoration: none;
}*/


table{ 
	background-color:#E6E6E6;
}

.ns{
	background: #ffffff;
}

.oh{
	background: #D8B4C6;
}

.c{
	background: #C6E0B4;
}

.crt{
	background: #F8CBAD;
}

.wc{
	background: #ACB9CA;
}

.ip{
	background: #B4C6E7;
}

.w{
	background: #FFE699;
}

.ca{
	background: #eaeaea;
}




th{
	font-size: 13px;
}

td input[type='text'], select{
	border:none;
	background-color: transparent;
}

.loading{
	text-align:center;
	position: absolute;
	height: 20%;
	width:	20%;
	left:75%;
	top:2%;
	background-image:url('paper.gif');
	background-color:#FCFCFC;
	z-index:10000;
	clear:both;
}